{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "browsers": ["last 2 versions, > 5%, safari tp"]
        },
        "debug": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
